<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.cardinalblue.luyolung.mvvm">

    <application
            android:allowBackup="true"
            android:label="@string/app_name"
            android:supportsRtl="true">

        <activity android:name=".first.MVVMActivity"/>
        <activity android:name=".second.MVVMRXActivity"/>

    </application>
</manifest>